{% extends "layout.html" %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%block content%}
    <section id="contacts" className="py-20 px-6 bg-white">
          <div className="max-w-4xl mx-auto text-center">
            <h3 className="text-4xl font-bold mb-6 text-stone-900">Contact Us</h3>
            <form id="contactsForm">
              <input type="text" id="firstname" name="firstname" placeholder="firstname"/>
              <input type="text" id="lastname" name="lastname" placeholder="lastname"/>
              <input type="email" id="email" name="email" placeholder="email"/>
              <input type="text" id="phonenumber" name="phonenumber" placeholder="phonenumber"/>
              <input type="text" id="text" name="text" placeholder="text"/>
              <button type="submit">Send</button>
            </form>
            <p className="text-lg text-gray-700 mb-4">📍 123 Heritage Street, Prague, Czech Republic</p>
            <p className="text-lg text-gray-700 mb-4">📞 +420 123 456 789</p>
            <p className="text-lg text-gray-700">✉ info@museumgallery.com</p>
          </div>
          <table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">firstname</th>
      <th scope="col">lastname</th>
      <th scope="col">email</th>
      <th scope="col">phonenumber</th>
      <th scope="col">text</th>
    </tr>
  </thead>
  <tbody>
    {%if data%} {%for contact in data%}
    <tr>
      <td scope="row">{{contact.id}}</td>
      <td>{{contact.firstName}}</td>
      <td>{{contact.lastName}}</td>
      <td>{{contact.email}}</td>
      <td>{{contact.phoneNumber}}</td>
      <td>{{contact.text}}</td>
    </tr>
    {%endfor%} {%endif%}
  </tbody>
</table>
        </section>
        <script src="{%static 'myapp/js/contacts.js'%}"></script>
    {%endblock%}
    
    
    
</body>
</html>

